[submodule "submodules/respy"]
	path = submodules/respy
	url = https://github.com/mo2561057/respy_fixed
	branch = master
[submodule "submodules/estimagic"]
	path = submodules/estimagic
	url = https://github.com/OpenSourceEconomics/estimagic.git
